@page "/"
@inject HttpClient Http


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Hello family, dito niyo masusubaybayan ang progress ko sa paggawa ng website 😛

<br />
<p>This is a test. One two, *beatbox</p>

<br />